<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bob</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- <div class="your-class">
            <img src="<%= require('./img/1.jpg') %>"/>
            <div>your content</div>
            <div>your content</div>
        </div>-->
        <div class="container">
            <div class="music-queue">
                <div class="menu">
                    <div class="loading-animation">
                        <div class="arc"></div>
                        <div class="arc"></div>
                        <div class="arc"></div>
                    </div>
                    <div class="icons">
                        <div class="pause">
                            <div></div>
                            <div></div>
                        </div>
                        <div class="play">
                        </div>
                    </div>
                </div>
                <div class="album-carousel">
                    <img src="<%= require('./img/3.jpg') %>" />
                    <img src="<%= require('./img/2.jpg') %>" />
                    <img src="<%= require('./img/3.jpg') %>" />
                </div>
            </div>
        </div>
    </body>
</html>